*

!public/
!src/
!package.json
!yarn.lock
!tsconfig.json
!.eslintignore
!.eslintrc.json
!.markdownlint.yaml
!.markdownlintignore
!.env
!.env.js
!**/*.md

node_modules/**/*.md
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
